@using Logic

<h1>Group Assignments</h1>

<label class="form-label h5">
    Data
</label>
<textarea class="form-control" rows=15 cols=60 @bind="Contents" />

@if (possibilities?.Any() ?? false)
{
    <label class="form-label h5 mt-2">Select a Student</label>
    <select @bind=selectedStudentId class="form-select">
        @foreach (var student in possibilities.Keys)
        {
            <option value=@student.Id>@student.Name</option>
        }
    </select>

    @if (selectedStudent != null)
    {
        <div class="h5 mt-2">@selectedStudent.Name's Possible Partners:</div>
        <ul>
            @foreach (var other in possibilities[selectedStudent])
            {
                <li>@other.Name</li>
            }
        </ul>
    }
}

@code {
    private string contents;
    public string Contents
    {
        get => contents;
        set
        {
            contents = value;
            var grouper = Grouper.Parse(contents.Split('\n'));
            possibilities = grouper.CalculateNextGroups();
        }
    }

    private Dictionary<Student, IEnumerable<Student>> possibilities;
    private int selectedStudentId;
    private Student? selectedStudent => possibilities.Keys.Single(s => s.Id == selectedStudentId);
}